<footer class="center">
  <div class="desktop-footer">
    <a class="footer-link" href="https://fourboards.co.uk/home">Four Boards</a>
    • 
    <a class="footer-link" href="https://fourboards.co.uk/home">www.fourboards.co.uk</a>
     • 
    <a class="footer-link" href="https://www.instagram.com/fr4boards">@fr4boards</a>
  </div>
</footer>


<style>

footer .desktop-footer {
    margin-left: auto;
    margin-right: auto;
}

.client-each, .footer-bar, .section, footer .desktop-footer {
    max-width: 45.33563em;
}

footer {
    color:#ccc;
    background-color: #000;
    visibility: visible;
}

footer .footer-link{
  color:#ccc;
}

</style>
