<header class="site-header px-responsive">
  <div class="mt2 wrap">
      <nav class="">
        <ul id="main-menu" data-nav-showing="false" style="transform: translate(0%, -116%) matrix(1, 0, 0, 1, 0, 0);">
          <div class="flexbox-parent">
            <div class="flexbox-child">
              <li class="about-anc"><h4><a class="nav-underline home" href="{{site.url}}">Home</a></h4></li>
              <li class="about-anc"><h4><a class="nav-underline home" onclick="hide_menu()" href="{{site.url}}#personal_projects">Personal Projects</a></h4></li>
              <li class="about-anc"><h4><a class="nav-underline home" onclick="hide_menu()" href="{{site.url}}#products">Products</a></h4></li>
              <li class="about-anc"><h4><a class="nav-underline home" onclick="hide_menu()" href="{{site.url}}#client_projects">Client Projects</a></h4></li>
              <li class="about-anc"><h4><a class="nav-underline home" onclick="hide_menu()" href="{{site.url}}#contact_me">Contact Me</a></h4></li>
        
                  <li>
                  {% if site.show_social_icons %}
                    {% include social_links.html %}
                  {% endif %}
                  </li>
          </div>
        </ul>
      </nav>
  </div>
</header>

<div class="menu-btn">
  <span class="menu-line"></span>
  <span class="menu-line"></span>
  <span class="menu-text">Menu</span>
</div>

<div class="site-logo">
  <a href="{{site.url}}">
    <img src="{{site.url}}/images/fourboards-icon.png">
  </a>
</div>

<a href="{{site.url}}"></a>
  <div class="home-btn">
    <span class="static-menu-line"></span>
    <span class="home-text">Home</span> 
  </div>
</a>

<script>
$( ".menu-btn" ).click(function() {
    if (  $( ".menu-text" ).css( "opacity" ) == "0" ){
        $(".menu-line:nth-of-type(2)").css("transform","rotate(135deg)");
        $(".menu-text").css("opacity", "1");
        $( "#main-menu" ).css("transform", "translate(0%, -116%) matrix(1, 0, 0, 1, 0, 0)");
    } else {
        $(".menu-line:nth-of-type(2)").css("transform","rotate(44deg)");
        $(".menu-text").css("opacity", "0");
        $( "#main-menu" ).css("transform", "matrix(1, 0, 0, 1, 0, 0)");
    }
});

function hide_menu() {
        console.log("click");
        $(".menu-line:nth-of-type(2)").css("transform","rotate(135deg)");
        $(".menu-text").css("opacity", "1");
        $( "#main-menu" ).css("transform", "translate(0%, -116%) matrix(1, 0, 0, 1, 0, 0)");
}
</script>
