<ul id="main-menu" data-nav-showing="false" style="transform: translate(0%, -116%) matrix(1, 0, 0, 1, 0, 0);">
  <div class="flexbox-parent">
    <div class="flexbox-child">
      <li class="about-anc"><h4><a class="nav-underline home" href="{{site.url}}">Home</a></h4></li>
      <li class="about-anc"><h4><a class="nav-underline home" href="{{site.url}}#personal_projects">Personal Projects</a></h4></li>
      <li class="about-anc"><h4><a class="nav-underline home" href="{{site.url}}#products">Products</a></h4></li>
      <li class="about-anc"><h4><a class="nav-underline home" href="{{site.url}}#client_projects">Client Projects</a></h4></li>
      <li class="about-anc"><h4><a class="nav-underline home" href="{{site.url}}#contact_me">Contact Me</a></h4></li>

          <li>
          {% if site.show_social_icons %}
            {% include social_links.html %}
          {% endif %}
          </li>
  </div>
</ul>




  