<div class="social-icons">
  <div>
    {% if site.github_username %}
      <a class="fa fa-github" href="https://github.com/{{ site.github_username }}" target="_blank"></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a class="fa fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"target="_blank"></a>
    {% endif %}
    {% if site.instagram_username %}
      <a class="fa fa-instagram" href="https://www.instagram.com/{{ site.instagram_username }}"target="_blank"></a>
    {% endif %}
    {% if site.youtube_channel_id %}
    <a class="fa fa-youtube" href="https://www.youtube.com/channel/{{ site.youtube_channel_id }}"target="_blank"></a>
   {% endif %}

    

  </div>
</div>
<div class="clearfix"></div>
